#{extends 'main.html' /}
#{set title:'Home' /}

*{welcome /}*

<style type="text/css"> 
  .viewer{
    background-color:#FFFFFF;
    border-color:#BBBBBB #FFFFFF #FFFFFF #BBBBBB;
    border-style:solid;
    border-width:1px;
    height:300px;
    overflow:scroll;
    padding:5px;
    width:700px;
  }
</style> 

<script type="text/javascript"> 
  $(document).ready( function() {
    $('#fileTree').fileTree({ root: '', script: '@{Application.content()}' }, function(file) {
      alert(file);
    });
  });
</script> 

<div> 
  <h2>Demo</h2> 
  <div id="fileTree" class="viewer"></div> 
</div>
